body {
    background-color: aqua;
}


header {
    font-style: oblique;
    display: block;
    font-size: 20px;
    color: rgb(17, 19, 17);
    text-align: center;
    margin-top: 20px;
}

.picture__box {

    display: flex;
    margin: 30px auto 0 auto;
    width: 70px;
    height: 70px;
    background-color: azure;
    border-radius: 50%;

}

.border__rotation {
    animation: rotation 150s infinite linear;
    border: 5px dashed black;



}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.img {
    border: 5px solid red;
    border-radius: 50%;
    margin: auto;
}